@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Expense Tracker App!!</h1>
    <a asp-controller="Home" asp-action="Expenses" class="btn btn-primary"> Overview </a>
    <a asp-controller="Home" asp-action="CreatEditExpense" class="btn btn-secondary"> Add Expense </a>
    
</div>
&nbsp;
<div class="text-center">
    <p>Expense Tracker App is a digital tool designed to help individuals manage their finances efficiently by tracking income, expenses, and savings in a simple and organized manner. This app allows users to record daily transactions, categorize expenses, monitor spending habits, and set financial goals.</p>
<div>    